@model Academia.Web.ViewModel.DropDownViewModel


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="@Model.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Name
    </button>
    <div class="dropdown-menu" aria-labelledby="@Model.Id">
        @foreach (var item in Model.Items)
        {
            <a class="dropdown-item" href="@item.Href">@item.ItemName</a>
        }

    </div>
</div>